<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>

    <h1> List of Countries</h1>
        <br>
       
       <p>CEP: {{response.cep}}</p>
       <p>Logradour: {{response.logradouro}}</p>
       <p>Complemento: {{response.complemento}}</p>
       <p>Bairro: {{response.bairro}}</p>
       <p>Localidade: {{response.localidade}}</p>
       <p>UF: {{response.uf}}</p>
       <p>ibge: {{response.ibge}}</p>
       <p>gia: {{response.gia}}</p>
       <p>ddd: {{response.ddd}}</p>
       <p>siafi: {{response.siafi}}</p>

</body>
</html>